:root {
  /* ### Primary */
  --color-Red: hsl(0, 100%, 68%);
  /* ### Neutral */
  --color-Very-Dark-Blue: hsl(230, 29%, 20%);
  --color-Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --color-Grayish-Blue: hsl(231, 7%, 65%);
  --color-Light-Grayish-Blue: hsl(207, 33%, 95%);

  font-size: var(--fontSize);

  --fontSize: 18px;

  --fontSize-x9-small: calc(var(--fontSize) * 0.9);
  --fontSize-x8-small: calc(var(--fontSize) * 0.8);
  --fontSize-x7-small: calc(var(--fontSize) * 0.7);
  --fontSize-x6-small: calc(var(--fontSize) * 0.6);
  --fontSize-x5-small: calc(var(--fontSize) * 0.5);
  --fontSize-x4-small: calc(var(--fontSize) * 0.4);
  --fontSize-x3-small: calc(var(--fontSize) * 0.3);
  --fontSize-x2-small: calc(var(--fontSize) * 0.2);

  --fontSize-x1-large: calc(var(--fontSize) * 1.1);
  --fontSize-x2-large: calc(var(--fontSize) * 1.2);
  --fontSize-x3-large: calc(var(--fontSize) * 1.3);
  --fontSize-x4-large: calc(var(--fontSize) * 1.4);
  --fontSize-x5-large: calc(var(--fontSize) * 1.5);
  --fontSize-x6-large: calc(var(--fontSize) * 1.6);
  --fontSize-x7-large: calc(var(--fontSize) * 1.7);
  --fontSize-x8-large: calc(var(--fontSize) * 1.8);
  --fontSize-x9-large: calc(var(--fontSize) * 1.9);
  --fontSize-x20-large: calc(var(--fontSize) * 2);
  --fontSize-x25-large: calc(var(--fontSize) * 2.5);
  --fontSize-x30-large: calc(var(--fontSize) * 3);
  --fontSize-x35-large: calc(var(--fontSize) * 3.5);
  --fontSize-x40-large: calc(var(--fontSize) * 4);
  --fontSize-x45-large: calc(var(--fontSize) * 4.5);
  --fontSize-x50-large: calc(var(--fontSize) * 5);

  --ff-Barlow-Condensed: "Barlow Condensed", sans-serif;
  --ff-Barlow: "Barlow", sans-serif;

  --fw-Barlow-Condensed-bold: 700;
  --fw-normal: 400;

  --wrapper: 80%;
}

* {
  font-size: var(--fontSize);
  font-family: var(--ff-Barlow-Condensed);
  font-weight: var(--fw-normal);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  background-color: rgba(0, 0, 255, 0.25);
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  position: relative;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: -2;
  position: relative;
}


.wrapper::after {
    content: "";
    display: block;
    width: 60%;
    height: 50vh;
    border-radius: 0 0 0 75px;
    background-color: var(--color-Light-Grayish-Blue);
    margin-top: var(--fontSize-x2-large);
    position: absolute;
    right: 0;
    top: -2rem;
    z-index: -1;
}

/* //////////////////////////////////////////////////////////////////////////////// */
/* ### Header ///////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////// */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--wrapper);
}


.logo {
  height: 2rem;
  width: 2rem;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nav-menu {
  display: flex;
  list-style-type: none;
}

.nav-menu li {
  cursor: pointer;
  font-weight: var(--fw-Barlow-Condensed-bold);
  text-transform: uppercase;
  color: var(--color-Very-Dark-Blue);
}

.nav-menu li + li {
  margin-left: 2rem;
}

.nav-menu i {
  font-size: var(--fontSize-x5-small);
  color: var(--color-Grayish-Blue);
}

.nav-menu .login {
  color: var(--color-Dark-Grayish-Blue);
}

.menubar {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
